// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.99rem;
$line-height-base: 1.6;

// Override Bootstrap's colors
$primary: #0095da;


// Ensure button text color is white
$btn-primary-color: #fff; // For primary buttons


